PORT=3000

# DB ENVs
DB_PORT=5432 # Este puerto es el default de PostgreSQL
DB_HOST=localhost
DB_USER= # Ingresar el nombre de usuario que utilizara en la DB
DB_NAME= # Ingrese el nombre de la DB a utilizar
DB_PASSWORD= # Ingrese la contrasña de la DB misma
